/*universal styles*/
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}

html {
  overflow: hidden;
  font-family: $font__body;
  background-color: black;
}
img{
  width:400px;
}

// Parallax
.parallax{
  // overflow:hidden;
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.groupintro, .grouptitle, .parallax__group {
  position: relative;
  height: 100vh;

}

.parallax__layer--back {
  position: absolute;
  height:100%;
  width:100%;
  background: url(../img/space.png);
  background-repeat:no-repeat;
  background-position: top center;
  background-size: cover;
  
  transform: translateZ(-4px) scale(5);
  z-index: -10;


}
.parallax__layer--earth {
  position: absolute;
  width:100%;
  height:100%;
  background: url(../img/earth-500.png);
  background-repeat:no-repeat;
  background-position: top center;
  background-size: contain;

  transform: translateZ(-1px) scale(1);
  z-index: -9;

}
.parallax__layer--moon {
  position: absolute;

  width:100vw;
  height:100%;
  background: url(../img/surface.png);
  background-repeat:no-repeat;
  background-position: top center;
  background-size: cover;

  transform: translateZ(0px) scale(1);
  z-index: -8;


}



@media screen and (min-width: 600px){
  .parallax__layer--moon{
    right: 25px;
    top: 300px;
    transform: translateZ(-5px) scale(6);
  }

}

header{
  padding:3.5em 0em;
  font-size: 2.5em;
  color:white;
  text-align: center;
  z-index: 10;
  width:100%;
  
  h1{
    font-family: $font__heading;
    font-size: 3.5em;
    margin:0px;
  }
  h2{
    margin:0px;
  }

}



// .title{
// width:100%;
// position: relative;
// z-index: 5;
// background-color: black;

// }


.parallax__group.content{

background-color: black;

  .text{
    z-index: 10;
    background-color: white;
    max-width:550px;
    // margin:1em auto;
    margin-top: 5em;
    margin-left: 3em;
    padding:1.5em;
    p{
      padding: 1em;
    }
  }

}

.group1{
  z-index: 11;
}
.group2{
  z-index: 12;
}
.group3{
z-index: 13;
}
.group4{
  z-index: 14;
}
.group5{
  z-index: 15;
}
.group6{
  z-index: 16;
}
.group7{
  z-index: 17;
}
.group8{
  z-index: 18;
}
.group9{
  z-index: 19;
}



















